/* Root */
.root {
  padding-top: 80px;
  padding-bottom: 80px;
}

.title {
  font-weight: 900;
  font-size: 34px;
  margin-bottom: var(--mantine-spacing-md);
  font-family: var(--mantine-font-family);
}
@media (max-width: 0.75rem) {
  .title {
    font-size: 32px;
  }
}

.control {
}
@media (max-width: 0.75rem) {
  .control {
    width: 100%;
  }
}
