<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Warn" internalLogFile="logs/internal-nlog.tx">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target name="database" xsi:type="Database" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" connectionString="Server=159.89.163.233;Database=standalone_jp_db;User=dev;Password=4ubiY2A163@f;Convert Zero Datetime=True;">
			<commandText>
				insert into standalone_jp_db.Logs(Message,Level,Logged,Exception,Logger) values(@message,@level,@logged,@exception,@logger);
			</commandText>
			<parameter name="@logged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@exception" layout="${exception:tostring}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="database" />
	</rules>
</nlog>