/* Hidden */
.hidden {
  display: none;
}

/* SeekWrapper */
.seekWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  align-items: center;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.seekWrapper > div {
  margin-left: 20px;
}

/* Seek */
.seek {
  display: flex;
  flex-grow: 2;
}

/* Volume */
.volume {
  width: 100px;
}
